@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* Default: AI Lonely Companion */
body {
  background-color: #00416a;
  background-image: linear-gradient(115deg, #ac0d0d 0%, #005b82 100%);
}

/* Doctor Chill */
body.greenScreen {
  background-color: #232526;
  background-image: linear-gradient(115deg, #17cedb 0%, #000c18 100%);
}
